*{
  background-color: white;
}

.resize {
    width: 800px;
    height: auto;
    align-content: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%
  }